# Case classifier
Use deep learning neural networks (supervised) integrated into a chatbot gui to do multilabel classification on lawyer dataset.
Find more here on RNNs and sentiment analysis for a demo: https://ai.plainenglish.io/recurrent-neural-networks-for-multilabel-text-classification-tasks-d04c4edd50ae
If supervised through filtering, random forests or support vector machines can be used as a classifier (more exploration required)

In [1]:
import pandas as pd
import numpy as np
lawyers = pd.read_csv("lawyers.csv")

In [2]:
lawyers#pre one hot encoded

,ID,Gender,LGBT,Financial,Physical,CALD_BIPOC,Mental,Sexual,Verbal,Experience,Price,person_virtual,Rating
0,1,1,1,1,1,0,0,1,0,39,94.00,2,8.2
1,2,2,0,1,0,1,1,0,0,42,167.89,1,5.8
2,3,2,0,1,1,1,0,1,1,9,64.72,1,9.9
3,4,1,1,0,0,1,0,0,0,25,178.40,0,9.6
4,5,2,0,0,0,1,1,0,1,16,175.29,2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,906,3,1,1,0,0,0,0,0,28,73.20,1,5.3
906,907,2,0,1,1,0,1,0,1,42,68.34,2,7.3
907,908,2,0,0,1,0,1,0,1,5,139.49,0,8.0
908,909,1,1,1,0,1,1,1,1,38,138.90,0,6.3
909,910,1,1,1,1,1,1,1,0,23,82.07,0,8.3

## Random Forest
Apply to a single user's behaviour at each configuration of training and testing.

In [3]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
RS=42

In [4]:
#create array to append to existing dataframe to act as label
outcomes=[]
ids=[]
import random
for i in range(910):
    outcomes.append(random.randint(0,1))
    ids.append(i+1)
outcomes=np.array([ids,outcomes]).transpose()

In [5]:
outcomes=pd.DataFrame(outcomes)
outcomes=outcomes.rename(columns={1:'outcome',0:'ID'})
lawyers=lawyers.merge(outcomes,how='right',on='ID')#add label data

In [11]:
#suppose there is no filtering
rf=RandomForestClassifier(random_state=RS)
atts=["ID","outcome"]#attributes to remove during training
X=lawyers.drop('ID',axis=1)
X=X.drop('outcome',axis=1)
y=lawyers['outcome']
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=RS,test_size=0.5)

In [ ]:
from sklearn.model_selection import GridSearchCV
params={}